# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA / Eclipse / VSCode など
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Node / React
frontend/node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
